<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
	<h1><%= title %></h1>
	<div>
		<form method="post">
			Email Address:<br>
			<input type="text" name="email"><br>
			Password:<br>
			<input type="text" name="password">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>
</html>
